.signin-input:-webkit-autofill,
.signin-input:-webkit-autofill:hover,
.signin-input:-webkit-autofill:focus,
.signin-input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  background-color: #fff !important; /* Set to your desired background color */
  color: #000 !important; /* Set to your desired text color */
}


.signup-box {
    width: 400px;
    height: 620px;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    padding-top: 20px;
    backdrop-filter: blur(12px);
    color: black;
    border: 2px solid #75006f;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.openModalBtn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
  }